
@mixin title-set($width, $margin-bottom){
     width: $width;
     margin-bottom: $margin-bottom;
}

.textoNav{
    padding-top: 10px;
   text-align: center;
   h3{
    margin-top: -20px;
   }
}
.textoLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tittlePadding{
    padding: 200px 0px 0px 0px;
}

.shortTitle{
       @include title-set(550px, 25px);
}

.mediumTitle{
    @include title-set(550px, 25px);
}

@media(max-width:750px){
   .tittlePadding{
    padding-top: 120px;
   }    
   .shortTitle, .mediumTitle{
    width: auto;
   }



}
